<% if @name %>
<h1>My name is <%= @name %></h1>
<% end %>

<div style='border: 3px dashed red'>
    <img src='http://dy5jipgyozh6.cloudfront.net/wp-content/uploads/2017/05/08214717/small-dog-breeds-dont-shed.jpg'>
</div>